/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Urbanist:wght@400;700&display=swap');
/* You can add other global styles below if needed */




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
